head
  meta(charset="utf-8")
  link(href="/common/bootstrap/css/bootstrap.css", type="text/css", rel="stylesheet")
  link(href="/common/bootstrap/css/bootstrap-theme.css", type="text/css", rel="stylesheet")

body
  .container
    .page-header
      h1 Codelint 
        small  Will hurt your feelings! (And help you code better)
    h2.alert.alert-danger #{errorMessage}
